iframe{
    width: 1180px;
    height: 500px;
    border-radius: 10px;
}

#configframe #preco a h2{
    text-decoration: none;
    color: aliceblue;
    text-align: center;

}

:hover #configframe #preco a h2{
    color: black;
}

#configframe #preco{
    background-color: aqua;
}